.truncate-lines {
	@include text-truncate;
}

@include breakpoint(medium) {
	.medium-truncate-lines {
		@include text-truncate;
		display: inline-block;
	}

	.medium-truncate-1-line {
		-webkit-line-clamp: 1; // sass-lint:disable-line no-vendor-prefixes
	}

	.medium-truncate-2-lines {
		-webkit-line-clamp: 2; // sass-lint:disable-line no-vendor-prefixes
	}

	.medium-truncate-4-lines {
		-webkit-line-clamp: 4; // sass-lint:disable-line no-vendor-prefixes
	}
}
