/* LiveWhale block.
---------------------------------- */
.ag-wgt-lvwl {
	padding: 1.25rem;

	.widget-title {
		text-transform: uppercase;
	}

	.grid-container {
		padding: 0;
	}

	.vertical .event {
		margin: 0;
		width: 100%;

		~ .event {
			margin-top: $grid-margin-gutters;
		}

		.cell {
			padding: .75rem;
		}
	}

	.events-all {
		margin-top: $grid-margin-gutters * 1.5;
		text-align: center;

		.button {
			margin-bottom: 0;
		}
	}

	.date {
		border-right-width: 1px;
	}
}
